*{margin-top: .5rem;
    padding: 0;
    text-align: center;

}
.outer{
    width:45vmax;
    height:fit-content;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.outer img {
   margin: 0 auto;
    width: 25%;
    height: 20%;
    text-align: center;
}
.main{
    width: 70%;
    text-align: left;
    margin:1rem auto;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
   
}
.Para{
    
    height: fit-content;
    margin-top:.5rem;
    color:rgb(175, 194, 212) ;
    font-size: 2vmin;
    text-align: left;
}
form{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(175, 194, 212);
   
    border-radius: 5px;
    background-color: rgb(24, 26, 27);
}



h1{
    margin-bottom: 0;
    font-size: 3vmax;
}
h2{
    margin-bottom: 0;
    font-size: 2vmax;
}
.password{
    display: flex;
    flex-direction: row;
    flex-shrink: 1rem;
    justify-content: space-between;
}
.password input{
    width: 100%;
    display: block;
    font-size: 2vmax;
    line-height: 2.5rem;
    margin-right: 0.5rem;
    background-color: rgb(24, 26, 27);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    color: blue;

}
button{
    color: white;
    background-color: rgb(6, 22, 255);
    text-align: center;
    width: 100%;
    border: 2px solid rgb(2, 2, 253) ;
    border-radius: .5rem;
    margin-top: 1.5rem;
    cursor: alias;
    font-size: 3vmin;
    line-height: 2;
    
}
a{
    cursor: pointer;

}
a:hover ,a:focus{
    color: aqua;
}
a:visited{
    color: blueviolet;
}
a :active{
    color: aquamarine;
}

form p{
    margin-bottom: 25px;
  
    font-size: 2vmin;
    text-align: justify;
}